<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tapis du monde</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Styles/connexion.css">
</head>

<body>
    <header>
        <div class="Header-left">
            <a href="Accueil.html">
                <img src="" alt="Logo" class="logo" />
            </a>
            <a class="texte-cliquable" href="../index.html">
                <span class="titre-site">TapisMarket</span>
            </a>
        </div>
        <nav id="nav-menu">
            <ul class="nav-links">
                <li><a href="Accueil.html">Accueil</a></li>
                <li><a href="Accueil.html">Catalogue</a></li>
                <li><a href="Accueil.html">À propos</a></li>
                <li><a href="Accueil.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="form">
            <span class="title">Connexion</span>
            <span class="message">Vous êtes de retour !</span>

            <label for="email" class="label">Email</label>
            <input type="email" id="email" name="email" class="input" required>

            <label for="password" class="label">Mot de passe</label>
            <input type="password" id="password" name="password" class="input" required>

            <span class="texte-inscription">Vous n'êtes pas encore inscrit ? <a
                    href="Inscription.html">Cliquez-ici</a></span>

            <button type="submit" class="submit">Se connecter</button>
        </form>

    </main>
    <footer>

    </footer>
</body>

</html>