<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tapis du monde</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Styles/global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="Header-left">
        <a href="Accueil.html">
            <img src="../images/Logo.png" alt="Logo" class="logo"/>
        </a>
        <a class="texte-cliquable" href="Accueil.html">
            <span class="titre-site">TapisMarket</span>
        </a>
        <nav id="nav-menu">
            <ul class="nav-links">
                <li><a href="Accueil.html" class="active">Accueil</a></li>
                <li><a href="Catalogue.html">Catalogue</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <form class="form">
        <span class="title">Inscription</span>
        <span class="message">Bienvenue sur notre site !</span>

        <div class="nom">
            <label for="nom" class="label">Nom</label>
            <input type="text" id="nom" name="nom" class="input" required>

            <label for="prenom" class="label">Prénom</label>
            <input type="text" id="prenom" name="prenom" class="input" required>
        </div>

        <label for="email" class="label">Email</label>
        <input type="email" id="email" name="email" class="input" required>

        <label for="password" class="label">Mot de passe</label>
        <input type="password" id="password" name="password" class="input" required>

        <label class="label">Vous êtes : </label>
        <div>
            <input type="radio" id="client" name="type" value="Client" checked/>
            <label for="client" class="label-radio">Client</label>
        </div>

        <div>
            <input type="radio" id="vendeur" name="type" value="Vendeur"/>
            <label for="vendeur" class="label-radio">Vendeur</label>
        </div>

        <div>
            <input type="radio" id="admin" name="type" value="Admin"/>
            <label for="admin" class="label-radio">Administrateur</label>
        </div>

        <span class="texte-connexion">Vous êtes déjà inscrit ? <a href="Connexion.html">Cliquez-ici</a></span>

        <button type="submit" class="submit">Inscription</button>
    </form>

</main>
<footer>

</footer>
</body>

</html>